<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Naturistic - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="icon" href="../images/favacon.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <div id="app">
      <div id="about-c">
        <v-app>
          <v-main >
            <v-container>
        <nav>
          <div id="logo">
            <a href="index.html"><img src="../images/naturstic.png" alt="" height="35px"></a>
          </div>
          <ul>
            <li><v-menu
              open-on-hover
              offset-y
              >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  small
                  elevation="0"
                  v-bind="attrs"
                  v-on="on"
                  color="#FFFFFF"
                  text
                ><li class="collection">Collection</li>
                </v-btn>
              </template>
              <v-list>
                <v-list-item
                  v-for="(category, index) in categories"
                  :key="index"
                  link
                >
                  <v-list-item-title v-on:click="selected_category=category">{{ category }}</v-list-item-title>
                </v-list-item>
              </v-list>

            </v-menu>
            <a  id="nav-color" href="about.html"><li>About</li></a>
            <img src="../images/cart-alt.svg" alt="" height="25px">
          </ul>
        </nav>
        <div id="hero-section">
          <p class="body-text"><strong>{{selected_category}}</strong></p>
          <div class="search-bar">
            <div class="search-icon">
              <img src="../images/search-1.svg" alt="" height="15px">
            </div>
            <input type="text" placeholder="Search high-resolution photos" v-model="searchString">
          </div>
        </div>
        <div v-for="product in filteredCategory">
          <div v-on:click="getImages(product._id)">
              
              <div v-for="tag in tags">
                <ul>
                  <li>{{tags}}</li>

                </ul>

              </div>
          </div>


        <div v-for = "product in filteredProducts" class="search-results">
          <img v-bind:src="product.image">



      </div>
      </v-container>
      </v-main>
      </v-app>
    </div>
  </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="app.js"></script>
</html>
