* {
    padding: 0;
    margin: 0;
    font-family: SF Pro;
}

#app {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
}

nav {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 1fr 200px 600px 1fr;
    height: 50px;
}

nav ul {
    grid-column-start: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

nav ul li{
    font-size: 16px;
    padding-left: 20px;
    padding-top: 20px;
    list-style: none;
    font-weight: bold;
}

nav ul img{
    padding-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#logo {
    grid-column-start: 2;
    display: flex;
    align-items: center;
}


#developers {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: left;
    
}

.profile-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
}

.about-developer {
    padding: 5px 10px;

}
#daniel {
    text-align: left;
}


#kalicia {
    text-align: center;
}
#doug {
    text-align: left;
}

.name {
    padding-left: 20px;
}